   /* HERO SECTION */
        #main {
          background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1470&auto=format&fit=crop');
            background-size: cover;
            background-position: center;
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #main img {
            width: 100vw;
            position: absolute;
            z-index: -10;
            height: 120vh;
        }

        button {
            position: relative;
            top: 30px;
            border: none;
            padding: 8px 20px;
            border-radius: 25px;
            background: linear-gradient(135deg, orange, black);
            color: white;
            font-size: 18px;
            cursor: pointer;
        }

        button:hover {
            box-shadow: 0 0 20px 5px black, 0 0 30px 10px orange;
        }

        .left{
            position: relative;
            top:-50px ;
            width: 600px;
            height: 80%;
        }
        
        .right {
            width: 500px;
            height: 80%;
        }

        h1 {
            font-size: 50px;
            margin-top: 30%;
           
            font-weight: bold;
        }

        h1 span {
            color: orange;
             -webkit-text-stroke: 1px white;
        }

        p {
            position: relative;
            font-size: 18px;
            line-height: 1.5;
            top: 10px;
            color: rgba(255, 255, 255, 0.4);
        }

        .social {
            margin-top: 40px;
            display: flex;
            gap: 18px;
        }

        .social a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #444;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaa;
            transition: 0.4s;
        }

        .social a:hover {
            background: linear-gradient(90deg, orange, black);
            color: #fff;
            transform: translateY(-10px);
        }

        a {
            text-decoration: none;
        }

        /* RESPONSIVE */
        @media (max-width:375px) {
            #main {
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
               
            }

            .social {
                justify-content: center;
            }
        }

       
        @media (max-width:600px) {
            header {
                padding: 1px 10px;
                /* width: 100px; */
            }

            nav {
                display: none;
            }

            .right{
                width: 400px;
                height: 0;
               
            }
             .left{
                position: relative;
                top: 50px;
                width: 400px;
             }

            .left h1 {
                font-size: 30px;
            }

            .left p {
                font-size: 10px;
                flex-wrap: wrap;
            }

         
        }